.mail-preview {
    display: grid;
    grid-template-columns: 30px 2fr 100px;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    column-gap: 50px;
    align-items: center;
    transition: background-color 0.2s;
    cursor: pointer;
    
}

.mail-preview-container {
    grid-template-columns: 1fr 0.6fr 2fr;
}

.mail-actions {
    display: flex;
    z-index: 1000;
    gap: 10px;
    opacity: 0;
    /* transition: opacity 0.2s ease; */
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-preview:hover .mail-actions {
    opacity: 1;
}

.mail-preview:hover .mail-time {
    opacity: 0;
    
}

.mail-preview-btn-trash,
.mail-preview-btn-unread {
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: background-color 0.3s;
    
}

.fa-envelope {
    font-size: 0.97rem;
    margin-top: 0.25rem;
}

.mail-preview-btn-trash:hover,
.mail-preview-btn-unread:hover {
    cursor: pointer;
    background-color: rgb(201, 200, 200);
}

.preview-left {
    /* display: flex; */
    gap: 0px;
    margin: 0;
}

.mail-time {
    font-size: 0.75rem;
    color: #999;
    text-align: right;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

 .star-right {
    display: none !important;
}

.mail-preview:first-child {
    border-top: 1px solid #ddd;
}

.mail-preview:hover {
    box-shadow: inset 0 -1px 0 #dcdcdc;
    z-index: 1;
    position: relative;
    border-left: 1px solid #ddd;
    border-bottom: 1.3px solid #c3c3c3;
}

.mail-preview-star {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    border: none;
    background-color: transparent;
}

.mail-preview-star:hover {
    cursor: pointer;
    background-color: rgb(201, 200, 200);
}

.active-star {
    color: gold;
}

.read {
    background-color: #F2F6FC;
}

.unread .mail-subject,
.unread .mail-from,
.unread .mail-time {
    font-weight: bold;
}

.unread .mail-time {
    color: black;
}

.read .mail-subject,
.read .mail-from {
    font-weight: normal;
}

.mail-from {
    color: #333;
}

.mail-subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.mail-snippet {
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}



.mail-preview.highlight {
    background-color: #C2DBFF;
}