.user-msg {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease-in-out;
}

.user-msg.success {
    background-color: #d4edda;
    color: white;
    background-color: black;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.user-msg.error {
    background-color: #f8d7da;
    color: #721c24;
}

.user-msg h4 {
    margin: 0;
}

.user-msg button {
    background-color: hsl(0 0% 100%/0.35);
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    width: 28px;
    height: 28px;
    aspect-ratio: 1;
    color: inherit;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 1rem;
    transition: background-color 0.2s;
}

.user-msg button:hover {
    background-color: hsl(0 0% 100%/0.55);
}